<header>
    <div>
        <a href="#home">
            <img src="../../assets/img/DA-logo.png" alt="logo-white" class="header-img">
        </a>

        <ul class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutMe">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contactMe">Contact</a></li>
        </ul>

        <img (click)="openNav()" src="../../assets/img/menu.png" class="menu-img" alt="Menu Img">
    </div>
</header>