<header>
    <div>
        <img src="../../assets/img/DA-logo.png" alt="logo-white" class="header-img">

        <!-- <div class="header-links" style="--clr:#5338e4">
        <a href="#" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        <a href="#aboutMe" data-text="&nbsp;About">&nbsp;About&nbsp;</a>
        <a href="#work" data-text="&nbsp;Portfolio">&nbsp;Portfolio&nbsp;</a>
        <a href="#contactMe" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
    </div> -->

        <ul class="header-links" class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#aboutMe">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contactMe">Contact</a></li>
        </ul>
    </div>
</header>