<footer id="footer">
    <div class="footer-middle">
        <a href="#home">
            <img src="../../assets/img/DA-logo.png" class="logo-footer" alt="DA Logo">
        </a>

        <div class="copyright-name-year">
            <img src="../../assets/img/icons/copyright-icon.png" alt="Copyright Logo">
            <span> Diana Asmus 2023</span>
        </div>
        <div>
            <a routerLink="/Imprint" fragment="imprint">Imprint</a> -
            <a routerLink="/Data-protection">Data Protection</a>
        </div>
    </div>
</footer>