<footer id="footer">
    <div class="footer-middle">
        <img href="#home" src="../../assets/img/DA-logo.png" class="logo-footer" alt="DA Logo">

        <div class="copyright-name-year">
            <img src="../../assets/img/icons/copyright-icon.png" alt="Copyright Logo">
            <span> Diana Asmus 2023</span>
        </div>
        <div>
            <a routerLink="/Imprint">Imprint</a> -
            <a routerLink="/Data-protection" href="#">Data Protection</a>
        </div>
    </div>
</footer>