footer {
    height: 12rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    color: #4d4d4d;
    position: relative;
    z-index: 3;

    a {
        text-decoration: none;
        color: #4d4d4d;
        ;

        &:hover {
            color: #5338e4;
            transition: all 125ms ease-in-out;
        }
    }
}

.d-none {
    display: none;
}

.logo-footer {
    height: 40px;
    cursor: pointer;
    filter: invert(70%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(91%) contrast(87%);
}


.copyright-name-year {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    span {
        @media (max-width: 500px) {
            font-size: 1.1rem;
        }
    }

    img {
        height: 20px;
        padding-right: 5px;
        filter: invert(70%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(35%) contrast(87%);
    }
}