<section id="home">
    <img class="start-svg" src="../../assets/svg/start.svg" alt="start-svg" height="35%" width="100%">

    <p>view more</p>

    <div class="home-about">
        <h1>DIANA <br> ASMUS</h1>
        <h2>Front End Developer</h2>
    </div>
</section>

<section class="about-container">
    <img class="about-me-svg" src="../../assets/svg/about-me.svg" alt="about-me-svg" height="100%" width="100%">

    <div>
        <h1>About Me</h1>

        <p>Hello, I'm Diana, a passionate web developer with a penchant for creative and structured code. With
            experience
            in JavaScript, Angular, and HTML/CSS, I work to create great user experiences. When I'm not at my computer,
            I
            find inspiration in nature and sports.
        </p>
    </div>

    <img class="personal-pic2" src="../../assets/img/name-icon.png" alt="personal-pic2">
</section>

<section class="skills-imgs">
    <img class="skills-svg" src="../../assets/svg/skills.svg" alt="skills-svg">

    <div class="grid">
        <div *ngFor="let icon of iconData">
            <img [src]="icon.src" [alt]="icon.alt" [style]="icon.style">
            <p>{{ icon.alt }}</p>
        </div>
    </div>
</section>

<section class="work-container">
    <img class="work-svg" src="../../assets/svg/work.svg" alt="work-svg">

    <div *ngFor="let icon of icons">
        <img class="join-mobile" [src]="'../../assets/img/' + icon + '-mobile.png'" [alt]="icon + '-mobile'">
        <img class="join-desktop" [src]="'../../assets/img/' + icon + '-desktop.png'" [alt]="icon + '-desktop'">
    </div>
</section>