<section [class.fade-in]="fadeInAnimation" class="about-container" id="aboutMe" #aboutMe>
    <div>
        <h1>About Me</h1>

        <p>I am a dedicated Frontend developer based in Germany. <br>
            My journey began this
            year when I decided to shift my focus from studying media design to full-time programming. I then received
            professional training at a software development school in Germany, where I worked on several projects using
            JavaScript.
            I love the balance between creativity and technical precision to develope digital solutions with
            my acquired developemnet skills.
        </p>
    </div>

    <img class="personal-pic2" src="../../assets/img/dianaasmus-about.png" alt="personal-pic2">

</section>