.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 0 115px;
    box-sizing: border-box;
    gap: 40px;
    opacity: 0;

    div {

        h1 {
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: "Mooli", sans-serif;
        }

        p {
            max-width: 400px;
            width: 100%;
        }
    }
}

.about-me-svg {
    position: absolute;
    margin-left: 5px;
}

.personal-pic2 {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 120px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 120px;
}

.fade-in {
    animation: fadeIn 1000ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}