.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 70vh;
    position: relative;
    border-right: 1px solid #5338e4;
    padding: 0 50px 0 0;

    .about-me-svg {
        position: absolute;
        margin-left: 5px;
    }

    div {
        // padding: 0 50px 0 0;
        
        h1 {
            font-weight: 500;
        }

        p {
            width: 500px;
        }
    }

    .personal-pic2 {
        height: 200px;
        border-radius: 100%;
    }
}