<section class="about-container">
    <!-- <img class="about-me-svg" src="../../assets/svg/about-me.svg" alt="about-me-svg" height="100%" width="100%">
     -->
<!-- 
     <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                    stroke: #5338e4;
                    stroke-miterlimit: 10;
                }
            </style>
        </defs>
        <line class="cls-1" x1=".2" x2=".2" y2="100vh" />
    </svg> -->
    <div>
        <h1>About Me</h1>

        <p>Hello, I'm Diana, a passionate web developer with a penchant for creative and structured code. With
            experience
            in JavaScript, Angular, and HTML/CSS, I work to create great user experiences. When I'm not at my computer,
            I
            find inspiration in nature and sports.
        </p>
    </div>

    <img class="personal-pic2" src="../../assets/img/name-icon.png" alt="personal-pic2">
</section>