<section [class.fade-in]="fadeInAnimation" class="about-container" id="aboutMe" #aboutMe>
    <div>
        <h1>About Me</h1>

        <p>Hello, I'm Diana, a Frontend Developer with practical experience in creating web applications using
            JavaScript and Angular. My journey into this field was a logical step due to my affinity for technology, and
            it allowed me to follow my passion. By combining my analytical skills with creativity, I've successfully
            developed various projects and acquired valuable technical expertise.<br><br>
            I've been involved in the development of over 12 projects, ranging from simple landing pages to complex
            business applications, both as an individual contributor and within a team. At the end of each project, I
            actively sought feedback from experienced programmers through code reviews. <br><br>
            In the ever-evolving tech landscape, I maintain my curiosity to stay updated on the latest trends with a
            strong focus on detail and effective communication.<br><br>
            I invite you to explore my portfolio and delve deeper into the projects I've had the opportunity to work on.
        </p>
    </div>

    <img class="personal-pic2" src="../../assets/img/dianaasmus-about.png" alt="personal-pic2">

</section>