div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .join-mobile {
        height: 350px;
    }
    
    .join-desktop {
        height: 400px;
    }
}