.contact-container {
    height: 100vh;
    color: #ddd;
    max-width: 900px;
    width: 80vw;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
    padding: 0 115px;
    box-sizing: border-box;
    border-bottom: 1px solid #4d4d4d;
    opacity: 0;

    @media (max-width: 820px) {
        width: 70vw;
        flex-direction: column;
        padding: 0;
    }

    h1 {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
}

.fade-in {
    animation: fadeIn 1000ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-headline {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 820px) {
        width: 70vw;

        h1 {
            font-size: 1.5rem;
        }
    }

    p {
        text-align: center;
    }
}

.form-content {
    background-color: transparent;
    box-shadow: -3px 3px 16px 2px rgba(0, 0, 0, 0.91);
    width: 50%;
    max-width: 335px;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

    @media (max-width: 820px) {
        width: 70vw;
    }
    
    h1 {
        @media (max-width: 820px) {
            font-size: 1.5rem;
        }
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-bottom: 1px solid #5338e4;
    }

    textarea:focus {
        max-height: 130px;
    }

    input,
    textarea {
        padding: 5px 10px;
        font-family: sans-serif;
        color: white;
        all: unset;
        border-bottom: 1px solid #ddd;
        max-height: 20px;
        transition: all ease-in-out 225ms;
    }
}