<div id="mobileNav">
    <button (click)="hideNav()" class="close-btn">
        <img src="../../../assets/img/close-icon.png" alt="close Button">
    </button>

    <button (click)="hideNav()" class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <a href="#home" class="button-text">Home</a>
    </button>

    <button (click)="hideNav()" class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <a href="#aboutMe" class="button-text">About</a>
    </button>

    <button (click)="hideNav()" class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <a href="#portfolio" class="button-text">Portfolio</a>
    </button>

    <button (click)="hideNav()" class="learn-more">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <a href="#contactMe" class="button-text">Contact</a>
    </button>
</div>