.skills-imgs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    max-width: 1000px;
    width: 75vw;

    h1 {
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: "Mooli", sans-serif;
        color: #674fe9;

        @media (min-width: 1440px) {
            font-size: 3rem;
        }

        @media (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    .skills-description {
        font-size: 1.2rem;
        text-align: center;
        margin: 0 0 40px 0;

        @media (min-width: 1300px) {
            font-size: 1.3rem;
        }

        @media (max-width: 500px) {
            font-size: 1.2rem;
        }

        @media (max-width: 400px) {
            font-size: 1rem;
        }
    }
}

.fade-in {
    animation: fadeIn 500ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    // max-width: 1440px;
    // padding: 0 15vw;
    z-index: 3;

    @media (max-width: 1100px) {
        gap: 5vw;
    }

    @media (max-width: 750px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 75vw;
        height: unset;
        gap: unset;
        // height: 50vh;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 55px;
            width: 55px;
            cursor: pointer;
            padding: 10px;
            opacity: 1;

            @media (min-width: 1300px) {
                height: 60px;
                width: 60px;
            }

            @media (max-width: 750px) {
                height: 45px;
                width: 45px;
            }

            @media (max-width: 500px) {
                height: 35px;
                width: 35px;
            }

            &:hover+p {
                color: #5d48d4;
                transition: all ease-in-out 150ms;
            }
        }

        p {
            margin: 0;
            font-size: 1rem;
            padding-top: 20px;
            text-align: center;

            @media (min-width: 1300px) {
                font-size: 1.3rem;
            }

            @media (max-width: 750px) {
                padding: 20px 0;
            }

            @media (max-width: 500px) {
                font-size: 0.9rem;
            }
        }
    }
}