.skills-imgs {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;

    h1 {
        font-size: 2rem;
        margin-top: 80px;
        text-transform: uppercase;
    }

    svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 1000px;
    }
}

.skills-svg {
    position: absolute;
    max-width: 1000px;
    margin-left: -6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 25vh;
    height: 50vh;
    position: absolute;
    width: 100%;
    max-width: 700px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            height: 55px;
            width: 55px;
            cursor: pointer;
            padding: 10px;
            opacity: 0.5;

            &:hover {
                transition: all ease-in-out 150ms;
                opacity: 1;
            }

            &:hover+p {
                color: #5d48d4;
                transform: translateY(-10px);
                transition: all ease-in-out 150ms;
            }
        }

        p {
            margin: 0;
            font-size: 0.9rem;
            padding-top: 20px;
            text-align: center;
            color: transparent;
            transform: translateY(-25px);
        }
    }
}