<section class="portfolio-container" id="portfolio" [class.fade-in]="fadeInAnimation" #project>

    <div class="portfolio-headline">

        <h1>Portfolio</h1>
        
        <div class="headline-btns">
            <button (click)="resetFilter()">All</button>
            <button (click)="filterByCode('JavaScript')">JavaScript</button>
            <button (click)="filterByCode('Angular')">Angular</button>
        </div>

    </div>

    <div id="{{ project.imgName }}" class="project" *ngFor="let project of filteredProjects; let i = index" 
    (mouseover)="onMouseOver(i, project.imgName)" 
    (mouseout)="onMouseOut(i, project.imgName)" (click)="clickedProject(i, project.imgName)">

        <div id="{{ project.imgName }}-content" class="project-context" [class.show-context]="project.isHovered">
            <h1>{{ project.name }}</h1>
            <p class="project-code">{{ project.code }}</p>
            <p>{{ project.content }}</p>
        </div>

        <div id="{{ project.imgName }}-mockups" class="project-mockups" [class.mockup-hover]="project.isHovered">
            <img class="mobile" [src]="'../../assets/img/project-imgName/' + project.imgName + '-mobile.png'"
                [alt]="project.imgName + '-mobile'">
            <img class="desktop" [src]="'../../assets/img/project-imgName/' + project.imgName + '-desktop.png'"
                [alt]="project.imgName + '-desktop'">
        </div>

        <div id="{{ project.imgName }}-btns" class="project-context-btns">
            <a href="{{ project.website }}" target="_blank" class="project-links">Try</a>
            <a href="{{ project.gitHub }}" target="_blank" class="project-links">Github</a>
        </div>

    </div>

</section>