.portfolio-container {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 0 115px;
    z-index: 3;
}

.portfolio-headline {
    color: white;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.headline-btns {
    display: flex;
    gap: 30px;
}

a {
    color: #ddd;
    text-decoration: none;
}

.show-context {
    opacity: 1 !important;
    transition: all ease-in-out 225ms;
}

.project-context {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 50vh;
    z-index: 3;
    width: 50%;
    opacity: 0;
    cursor: pointer;

    h1 {
        font-size: 2rem;
        text-align: start;
    }

    p {
        text-align: center;
    }
}

.project-code {
    color: #5338e4;
    margin: 0;
}

.mockup-hover {
    cursor: pointer;
    opacity: 0.05;
    cursor: pointer;
    transition: all ease-in-out 225ms;
}


@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateX(-2222px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-context-btns {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    width: 22vw;
}

.project {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    // &:nth-child(2) {
    //     // border-bottom: 1px solid #5338e4;
    //     border-bottom-right-radius: 15vw;
    // }

    // &:nth-child(3) {
    //     flex-direction: row-reverse;
    //     // border-top: 1px solid #5338e4;
    //     border-top-left-radius: 15vw;
    //     border-bottom: 1px solid #5338e4;
    //     border-bottom-right-radius: 15vw;
    // }

    // &:nth-child(4) {
    //     border-top: 1px solid #5338e4;
    //     border-top-left-radius: 15vw;
    // }
}

@keyframes fadeInDesktop {
    from {
        opacity: 0;
        transform: translateX(-2022px);
    }

    to {
        opacity: 1;
        transform: translateX(50px);
    }
}

@keyframes fadeInDesktopOdd {
    from {
        opacity: 0;
        transform: translateX(2022px) translateY(0px);
    }

    to {
        opacity: 1;
        transform: translateX(-45px) translateY(0px);
    }
}

@keyframes fadeInMobile {
    from {
        opacity: 0;
        transform: translateX(-2222px);
    }

    to {
        opacity: 1;
        transform: translateX(5px) translateY(100px);
    }
}

@keyframes fadeInMobileOdd {
    from {
        opacity: 0;
        transform: translateX(2022px) translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateX(320px) translateY(200px);
    }
}

.join-mobile {
    position: absolute;
    height: 230px;
    z-index: 1;
    animation: fadeInMobile 1s ease-in-out forwards;
}

.join-mobile[alt="escaping-earth-mobile"] {
    width: 250px;
    height: 130px;
    z-index: 1;
    animation: fadeInMobileOdd 1s ease-in-out forwards;
}

.join-desktop {
    height: 330px;
    animation: fadeInDesktop 1s ease-in-out forwards;

}

.join-desktop[alt="escaping-earth-desktop"] {
    animation: fadeInDesktopOdd 1s ease-in-out forwards;
}