<section class="portfolio-container" id="work">
    <div class="portfolio-headline">
        <h1>Portfolio</h1>
        <div class="headline-btns">
            <button (click)="resetFilter()">All</button>
            <button (click)="filterByCode('JavaScript')">JavaScript</button>
            <button (click)="filterByCode('Angular')">Angular</button>
        </div>
    </div>
    <div class="project" *ngFor="let project of filteredProjects">
        <div class="project-context">
            <h1>{{ project.name }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quia numquam odio perferendis modi
                quaerat
                reiciendis quo optio illum delectus commodi laboriosam assumenda, maxime doloremque molestiae? Quam
                magni
                odio libero?</p>
            <div class="project-context-btns">
                <button>try</button>
                <button>github</button>
            </div>
        </div>
        <img class="join-mobile" [src]="'../../assets/img/' + project.imgs + '-mobile.png'" [alt]="project.imgs + '-mobile'">
        <img class="join-desktop" [src]="'../../assets/img/' + project.imgs + '-desktop.png'" [alt]="project.imgs + '-desktop'">
    </div>
</section>
