<section class="portfolio-container" id="work">
    <div class="portfolio-headline">
        <h1>Portfolio</h1>
        <div class="headline-btns">
            <button (click)="resetFilter()">All</button>
            <button (click)="filterByCode('JavaScript')">JavaScript</button>
            <button (click)="filterByCode('Angular')">Angular</button>
        </div>
    </div>
    <div class="project" *ngFor="let project of filteredProjects">
        <div class="project-context">
            <h1>{{ project.name }}</h1>
            <p>{{ project.content }}</p>
            <div class="project-context-btns">
                <a href="{{ project.website }}" target="_blank">try</a>
                <a href="{{ project.github }}" target="_blank">github</a>
            </div>
        </div>
        <img class="join-mobile" [src]="'../../assets/img/' + project.imgs + '-mobile.png'" [alt]="project.imgs + '-mobile'">
        <img class="join-desktop" [src]="'../../assets/img/' + project.imgs + '-desktop.png'" [alt]="project.imgs + '-desktop'">
    </div>
</section>
