.portfolio-container {
    width: 85vw;
    max-width: 900px;
    box-sizing: border-box;
    padding: 0 115px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    gap: 13vh;

    @media (max-width: 500px) {
        gap: 0;
    }
}

.portfolio-headline {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    margin-top: 15vh;

    @media (max-width: 500px) {
        width: 50vw;
    }

    h1 {
        text-transform: uppercase;
        font-size: 2rem;
        font-family: "Mooli", sans-serif;

        @media (max-width: 500px) {
            font-size: 1.5rem;
        }

        @media (max-width: 650px) {
            color: #5338e4;
        }
    }
}

.headline-btns {
    display: flex;
    gap: 30px;

    @media (max-width: 500px) {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 60vw;

        button {
            font-size: 0.9rem;
            width: 86px;
            min-width: 0;
            margin: 0;
        }
    }
}

button {
    all: unset;
    display: flex;
    width: 100%;
    min-width: 100px;
    height: 40px;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
    box-shadow: -3px 3px 16px 2px rgba(0, 0, 0, 0.91);
    transition: all 125ms ease-in-out;

    @media (max-width: 500px) {
        font-size: 0.9rem;
        width: 85px;
    }

    &:hover {
        border: 1px solid #5338e4;
        color: white;
    }
}

a {
    color: #ddd;
    text-decoration: none;
}

.project {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;

    @media (max-width: 700px) {
        height: 100vh;
        gap: 15px;
        margin-bottom: 0;
    }
}

.show-context {
    opacity: 1 !important;
    transition: all ease-in-out 125ms;
}

.project-context {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-bottom: 150px;
    box-sizing: border-box;
    z-index: 3;
    width: 65vw;
    max-width: 600px;
    opacity: 0;
    cursor: pointer;
    transition: all ease-in-out 125ms;

    @media (max-width: 700px) {
        position: relative;
        height: unset;
        opacity: 1;
        padding-bottom: unset;
    }

    h1 {
        font-size: 2rem;
        text-align: start;
        text-transform: uppercase;

        @media (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    p {
        text-align: center;

        @media (max-width: 500px) {
            font-size: 0.8rem;
        }
    }
}

.project-code {
    color: #5d48d4;
    margin: 0;
}

.project-mockups {
    transition: all ease-in-out 125ms;

    @media (max-width: 700px) {
        position: relative;
    }
}

.mockup-hover {
    opacity: 0.025;
    cursor: pointer;

    @media (max-width: 700px) {
        opacity: 1;
    }
}

.mobile[alt="join-mobile"],
.mobile[alt="simple-crm-mobile"] {
    position: absolute;
    max-width: 116px;
    width: 13vw;
    z-index: 1;
    transform: translateX(2vw) translateY(14vw);

    @media (min-width: 720px) {
        transform: translateX(5px) translateY(94px);
    }
}

.mobile[alt="escaping-earth-mobile"] {
    position: absolute;
    max-width: 250px;
    width: 30vw;
    z-index: 1;
    transform: translateX(42vw) translateY(24vw);

    @media (min-width: 790px) {
        transform: translateX(370px) translateY(200px);
    }
}

.desktop[alt="join-desktop"],
.desktop[alt="simple-crm-desktop"] {
    max-width: 570px;
    width: 70vw;
    transform: translateX(3vw);
}

.desktop[alt="escaping-earth-desktop"] {
    max-width: 570px;
    width: 70vw;
    transform: translateX(0vw);
}

.project-context-btns {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: 300px;
    z-index: 6;

    @media (max-width: 700px) {
        position: relative;
        gap: 10px;
        width: 200px;

        a {
            margin: 0;
        }
    }
}

#simple-crm-btns a,
#simple-crm-content, 
#simple-crm-mockups {
    pointer-events: none;
}

.project-links {
    all: unset;
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
    box-shadow: -3px 3px 16px 2px rgba(0, 0, 0, 0.91);

    &:hover {
        border: 1px solid #5338e4;
        color: white;
        transition: all 125ms ease-in-out;
    }
}

.fade-in {
    animation: fadeIn 1500ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}