<div class='impressum'>
    <a class="return-arrow" routerLink=""><img src="../../assets/img/arrow-up.png" alt="Logo"></a>
    <h1>Imprint</h1>
    <p>Information according to § 5 TMG</p>
    <p>Diana Asmus <br>
        Brückenstraße 8<br>
        54634 Bitburg <br>
    </p>
    <p> <strong>Represented by: </strong><br>
        Diana Asmus<br>
    </p>
    <p><strong>Contact:</strong> <br>
        Phone: +49 15209019938<br>
        E-Mail: <a href='mailto:asmus.diana@icloud.com'>asmus.diana@icloud.com</a><br></p>
    <p><strong>Liability for links</strong><br><br>
        My website contains links to external websites of third parties, on whose contents I have no influence. Therefore
        I can not take any responsibility for these external contents. For the content of the linked pages is
        responsible for the content of the linked pages.<br><br><h1>Data protection</h1><br><br>
        The use of my website is usually possible without providing personal data. As far as on my
        page personal data (such as name, address or e-mail addresses) are collected, this is,
        as far as possible, on a voluntary basis. This data will not be disclosed to third parties without your express consent.
        third parties without your explicit consent. <br>
        I point out that data transmission over the Internet (eg communication by e-mail).
        can have security gaps. A complete protection of the data against access by third parties is not
        possible. <br>
        The use of contact data published within the framework of the imprint obligation by third parties for the sending of
        not expressly requested advertising and information materials, is hereby expressly excluded.
        The operator of the site expressly reserves the right to take legal action in the event of unsolicited sending of
        advertising information, for example through spam mails.<br>
    </p><br>
    Website imprint created by <a href="https://www.impressum-generator.de">impressum-generator.de</a> from the <a
        href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Law firm Hasselbach</a>
</div>