div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    box-sizing: border-box;
    text-align: center;

    @media (max-width: 700px) {
        padding: 5vh;
    }

    a {
        color: #4179fb;

        &:hover {
            filter: brightness(0.7);
        }
    }
}

.return-arrow {
    position: absolute;
    left: 10vh;
    top: 10vh;
    margin-top: 21px;
    transform: rotate(-90deg);
    filter: invert(70%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(91%) contrast(87%);
    cursor: pointer;
    transition: all ease-in-out 125ms;

    &:hover {
        filter: invert(27%) sepia(98%) saturate(5906%) hue-rotate(249deg) brightness(92%) contrast(95%) !important;
    }

    @media (max-width: 700px) {
        top: 5vh;
        left: 5vh;
    }
}