<div class="align-column">
    <section routerLink="/" id="home">

        <div class="home-about">
            <h2>Hello, i am</h2>
            <h1>DIANA ASMUS</h1>
            <h2 class="align-end">Front End Developer</h2>
        </div>

    </section>

    <app-header></app-header>
    <app-fixed-items></app-fixed-items>
    <app-about class="background-width"></app-about>
    <app-skills></app-skills>
    <app-portfolio class="background-width"></app-portfolio>
    <app-contact-me></app-contact-me>
    <app-footer></app-footer>
</div>