<section id="home">
    <!-- <img class="start-svg" src="../../assets/svg/start.svg" alt="start-svg" height="35%" width="100%"> -->
    <!-- <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" height="35%" width="100%">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                    stroke: #5338e4;
                    stroke-miterlimit: 10;
                }
            </style>
        </defs>
        <line class="cls-1" x1=".2" x2=".2" y2="100vh" />
    </svg> -->

    <p>view more</p>

    <div class="home-about">
        <h1>DIANA <br> ASMUS</h1>
        <h2>Front End Developer</h2>
    </div>
</section>