<section id="home">
    <div class="contact-icons">
        <a href="https://github.com/dianaasmus" target="_blank"><img src="../../assets/img/contact-icons/github-icon.png" alt="Github Icon"></a>
        <a><img src="../../assets/img/contact-icons/message-outline-24.png" alt="Mail Icon"></a>
        <a href="https://www.linkedin.com/in/diana-asmus-139131281/" target="_blank"><img src="../../assets/img/contact-icons/linkedIn-icon.png" alt="LinkedIn Icon"></a>
    </div>

    <div class="home-about">
        <h2>Hello, i am</h2>
        <h1>DIANA ASMUS</h1>
        <h2 class="align-end">Front End Developer</h2>
    </div>

    <div>
        <hr>
        <p>scroll</p>
    </div>
</section>