.align-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scaleDown 1000ms ease-in-out forwards;
}

@keyframes scaleDown {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#home {
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.home-about {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;

    h1 {
        font-size: 5rem;
        letter-spacing: 5px;
        margin: 0;
        font-family: 'Mooli', sans-serif;
        font-weight: 600;
        color: #dddddd;

        @media (max-width: 650px) {
            font-size: 10vw;
        }
    }

    h2 {
        font-weight: 100;
        letter-spacing: 1px;
        margin: 10px 0;
        color: #6c50ff;
        font-size: 1rem;
        text-transform: uppercase;

        @media (max-width: 650px) {
            font-size: 4vw;
        }
    }
}

.align-end {
    text-align: end;
}

.background-width {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}