.align-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scaleDown 500ms ease-in-out forwards;
}

@keyframes scaleDown {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#home {
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.home-about {
    position: absolute;
    top: 50%;
    left: 38%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;

    @media (min-width: 1441px) {
        top: 50%;
        left: 35%;
        white-space: unset;
        width: min-content;
    }

    @media (max-width: 1440px) {
        top: 50%;
        left: 35%;
        white-space: unset;
        width: min-content;
    }

    @media (max-width: 1000px) {
        top: 75vh;
        left: 50%;
        white-space: nowrap;
    }

    @media (max-width: 700px) {
        bottom: 45vh;
        left: 50%;
        top: unset;
    }

    h1 {
        font-size: 8vw;
        letter-spacing: 5px;
        margin: 0;
        font-family: 'Mooli', sans-serif;
        font-weight: 600;
        color: #dddddd;

        @media (min-width: 1441px) {
            font-size: 7rem;
        }

        @media (min-width: 1000px) {
            font-size: 7vw;
        }

        @media (max-width: 700px) {
            font-size: 10vw;
        }
    }

    h2 {
        font-weight: 100;
        letter-spacing: 1px;
        margin: 10px 0;
        color: #6c50ff;
        font-size: 1rem;
        text-transform: uppercase;

        @media (min-width: 1441px) {
            font-size: 1.3rem;
        }
    }
}

.start-image {
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    left: 60vw;
    transform: translate(-50%);
    height: 80vh;
    max-height: 800px;

    @media (min-width: 1441px) {
        left: 65%;
    }

    @media (max-width: 1000px) {
        left: 50%;
    }

    @media (max-width: 700px) {
        height: 70vw;
    }

    @media (max-width: 700px) {
        left: 50%;
        right: unset;
        transform: translate(-50%);
    }

    @media (max-width: 500px) {
        height: 85vw;
    }
}

.align-end {
    text-align: end;
}

.background-width {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}