<div class="scroll">
    <div>
        <div class="scroll-note">
            <hr>
            <p>scroll</p>
        </div>
        <a class="arrow-up" href="#home">
            <img src="../../assets/img/arrow-up.png" alt="Arrow up">
        </a>
    </div>

    <div class="contact-icons">
        <a href="https://github.com/dianaasmus" target="_blank"><img
                src="../../assets/img/contact-icons/github-icon.png" alt="GitHub Icon"></a>
        <a><img (click)="openMail()" src="../../assets/img/contact-icons/message-outline-24.png"
                alt="Mail Icon"></a>
        <a href="https://www.linkedin.com/in/diana-asmus-139131281/" target="_blank"><img
                src="../../assets/img/contact-icons/linkedIn-icon.png" alt="LinkedIn Icon"></a>
    </div>
</div>